@import "../../styles/colors";

.row {
  &:nth-of-type(even) {
    background-color: rgba(100, 100, 100, 0.05);
  }
  &:nth-of-type(odd) {
    background-color: rgba(100, 100, 100, 0.1);
  }
}

.purchase {
  padding: 10px;
  border-bottom: 1px solid #555;
}

.withdrawal {
  height: 60px;
  border-bottom: 1px solid #555;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    margin: 10px 0;
  }
}

.address {
  width: 150px;
}

.net-winnings {
  font-size: 32px;
  font-weight: bold;
  color: $green;
}
